.container-admin{
    margin-left: 300px;
    margin-top: 80px;
    padding: 1rem;
    // background-color: #f1f5f8;
    height: calc(100vh - 80px);
    margin-bottom: 2rem;
}
@media screen and (max-width:901px) {
    .container-admin{
        margin-left: 0;
    }
}